# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/reference/configuration-reference
version: 2.1

# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/guides/orchestrate/jobs-steps/#jobs-overview & https://circleci.com/docs/reference/configuration-reference/#jobs
jobs:
  webapi-setup:
    docker:
        - image: mcr.microsoft.com/dotnet/sdk:9.0
    steps:
      - checkout
      - run:
          name: "Install dotnet dependencies" 
          working_directory: ~/project/backend/
          command: "dotnet restore"
      - run: 
          name: "Compile application"
          working_directory: ~/project/backend/
          command: "dotnet build --configuration Release --no-restore TVBackend.sln -tl:off" # due to a dotnet bug -tl:off is required otherwise dotnet will crash
      - persist_to_workspace:
          root: .
          paths:
            - backend

  setup-db-run-tests:
    docker:
        - image: mcr.microsoft.com/dotnet/sdk:9.0
        - image: postgres:16
          environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: tvdev
    #ports:
    #  - "5432:5432"
    steps:
      - attach_workspace:
          at: ~/project
      - run:
          name: "Install dotnet-ef"
          command: "dotnet tool install --global dotnet-ef"
      - run:
          name: "Change username and password in appsettings"
          working_directory: ~/project/backend
          command: "sed -i 's/YOUR_USERNAME/postgres/g' Api/appsettings.json && sed -i 's/YOUR_PASSWORD/postgres/g' Api/appsettings.json"
      - run:
          name: "Apply database migrations"
          working_directory: ~/project/backend
          command: "export PATH=\"$PATH:/root/.dotnet/tools\" && dotnet ef database update --project Api/Api.csproj"
      - run:
          name: "Run tests"
          working_directory: ~/project/backend
          command: "dotnet test TVBackend.sln --configuration Release -tl:off"

  say-hello:
    # Specify the execution environment. You can specify an image from Docker Hub or use one of our convenience images from CircleCI's Developer Hub.
    # See: https://circleci.com/docs/guides/execution-managed/executor-intro/ & https://circleci.com/docs/reference/configuration-reference/#executor-job
    docker:
      # Specify the version you desire here
      # See: https://circleci.com/developer/images/image/cimg/base
      - image: cimg/base:current

    # Add steps to the job
    # See: https://circleci.com/docs/guides/orchestrate/jobs-steps/#steps-overview & https://circleci.com/docs/reference/configuration-reference/#steps
    steps:
      # Checkout the code as the first step.
      - checkout
      - run:
          name: "Say hello"
          command: "echo Hello, World!"

# Orchestrate jobs using workflows
# See: https://circleci.com/docs/guides/orchestrate/workflows/ & https://circleci.com/docs/reference/configuration-reference/#workflows
workflows:
  backend-tests:
    jobs:
      - webapi-setup
      - setup-db-run-tests:
          requires:
            - webapi-setup