#root {
    max-width: 1280px;
    background: linear-gradient(135deg, white, #7dbeed);
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.welcome-container {
    margin: 0 auto;
    margin-top: 15%;
    margin-bottom: 10%;
    padding: 24px;
}

.welcome-msg {
    font-size: 48px;
    color: #333;
    margin: 0;
    padding: 24px;
}

.welcome-msg-subtitle {
    font-size: 18px;
    color: #333333;
    margin: 0;
    padding: 24px;
}

.go-to-sign-in-btn {
    font-size: 18px;
    background-color: #0d87df;
    margin: 24px;
    text-decoration: none;
    color: white;
    padding: 15px;
    border-radius: 15px;
}