.sign-in-screen {
    max-width: 1280px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;

    h1 {
        color: black;
    }
}