#root {
    max-width: 1280px;
    background: linear-gradient(135deg, white, #7dbeed);
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}