.sign-in-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;

    h1 {
        color: black;
    }

    .sign-in-header {
        font-size: 35px;
        margin: 20px;
        color: #333;
    }

    .sign-in-box {
        border-radius: 15px;
        box-shadow: 0px 0px 5px 2px rgb(199, 199, 199);
        min-height: 10vh;
        width: 40vw;
        margin: 20px;
        padding: 20px;
    }

    .credential-input {
        background-color: rgb(230, 230, 230);
        color: black;
        height: 30px;
        font-size: 15px;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        border: none;
    }

    .submit-btn {
        font-size: 18px;
        background-color: #0d87df;
        margin: 24px;
        text-decoration: none;
        color: white;
        padding: 10px;
        border-radius: 10px;
        border: none;
    }

    .submit-btn:hover {
        background-color: #0b76c2;
    }

    .create-account-btn {
        color: #0d87df;
    }

    .create-account-btn:hover {
        color: #0966a8;
    }
}